.main-codigo-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    height: 100vh;
    background-image: url('../assets/landing/codigo-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
}

.input-codigo {
    padding: 30px 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 2.5rem;
    background-color: #ea1d24;
    border: none;
    color: #fff;
    font-family: 'DoritosHeadline Bk', sans-serif;
    border-radius: 40px;
    text-align: center;
}

.btn-codigo {
    margin-top: 20px;
    border: none;
    background: none;
    cursor: pointer;
    transition: all 0.5s ease;
}

.btn-codigo img {
    width: 100%;
    max-width: 400px;
}

.btn-codigo:hover {
    scale: 1.1;
}

.error-codigo-text {
    font-size: 1.5rem;
    color: #ff0000;
    margin-top: 20px;
    font-family: 'DoritosHeadline Bk', sans-serif;  
    text-transform: uppercase;
}

.registrar-codigo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 100%;
}

.doritos-logo-codigos {
    width: 33%;
    margin: 30px;
}

.info-text-1 {
    width: 70%;
    margin-bottom: 20px;
}

.info-text-2 {
    width: 75%;
    margin-top: 20px;
}

.logo-mobile {
    display: none;
}

/* Mobile media query */

@media (max-width: 768px) {
    .main-codigo-container {
        flex-direction: column;
        height: 100%;
        background-image: url('../assets/landing/bg-codigos-mobile.jpg');
        min-height: 100dvh;
    }

    .registrar-codigo-container {
        width: 100%;
    }

    .input-codigo {
        font-size: 1.5rem;
    }

    .info-text-1 {
        width: 90%;
    }

    .info-text-2 {
        width: 90%;
    }

    .doritos-logo-codigos {
        width: 50%;
        margin: 0;
        margin-top: 40px;
    }

    .logo-mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 20px;
        margin-bottom: 25px;
    }

    .logo-mobile img {
        width: 55%;
    }
    .btn-codigo img {
        width: 70%;
    }

}




