.main-home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-image: url('../assets/landing/home-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.doritos-logo-container {
    position: absolute;
    top: 0;
    left: 0;
}

.doritos-logo-container img {
    width: 50%;
    min-width: 220px;
    margin: 30px;
}

.home-options-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 10px;
}

.image-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;
}

.image-row a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 10px;
}

.image-row img {
    width: 50%;
    transition: all 0.5s ease; 
}

.image-row img:hover {
    cursor: pointer;
    transform: scale(1.02);
}

.home-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-info-container img {
    width: 75%;
}

.puntaje-mobile {
    display: none;
}

/* Mobile media query */
@media (max-width: 768px) {
    .main-home-container {
        background-image: url('../assets/landing/home-bg-mobile.jpg');
        min-height: 100vh;
        justify-content: flex-start;
        height: auto;
    }

    .doritos-logo-container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .doritos-logo-container img {
        width: 45%;
        min-width: auto;
        margin: 10px;
    }

    .home-options-container {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .image-row {
        flex-direction: column;
        gap: 0;
    }

    .image-row img {
        width: 80%;
    }

    .top-home-img {
        display: none;
    }

    .home-info-container {
        margin-top: 0;
        margin-bottom: 20px;
    }

    .home-info-container img {
        width: 85%;
    }

    .puntaje-mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }

    .puntaje-mobile img {
        width: 30%;
    }
}