* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'DoritosHeadline Bk';
    src: url(../fonts/DoritosHeadline_BlkIt.ttf);
}

@font-face {
    font-family: 'DoritosHeadline Md';
    src: url(../fonts/DoritosHeadline_MdIt.ttf);
}

@font-face {
    font-family: 'MyriadPro Regular';
    src: url(../fonts/MyriadPro-Regular.otf);
}

.main-login-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;
    background-image: url('../assets/landing-desktop/desktop-login-registro.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.login-content h1 {
    font-family: 'DoritosHeadline Bk';
    font-size: 3rem;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #ea4a13;
}

.login-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
    color: #fff;
    padding: 10px;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.email-container {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-bottom: 20px;
}

.email-container label {
    font-family: 'MyriadPro Regular';
    font-size: 1.2rem;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-weight: 800;
    font-style: italic;
    color: #ff8d00;
}

.email-container input {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #434343;
    color: #fff;
    font-family: 'MyriadPro Regular';
    font-size: 1.2rem;
    margin-top: 5px;
}

.password-container {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-bottom: 20px;
}

.password-container label {
    font-family: 'MyriadPro Regular';
    font-size: 1.2rem;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-weight: 800;
    font-style: italic;
    color: #ff8d00;
}

.password-container input {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #434343;
    color: #fff;
    font-family: 'MyriadPro Regular';
    font-size: 1.2rem;
    margin-top: 5px;
}

.forgot-password-container {
    display: flex;
    justify-content: center;
    width: 70%;
}

.forgot-password-container a {
    font-family: 'MyriadPro Regular';
    font-size: 1.2rem;
    color: #00cb9b;
    text-decoration: none;
}

.login-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

.login-btn {
    background: none;
    border: none;
    cursor: pointer;
}

.login-btn img {
    width: 90%;
}