* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DoritosHeadline Md', sans-serif;
}

@font-face {
    font-family: 'DoritosHeadline Bk';
    src: url(../fonts/DoritosHeadline_BlkIt.ttf);
}

@font-face {
    font-family: 'DoritosHeadline Md';
    src: url(../fonts/MyriadPro-Regular.otf);
}

@font-face {
    font-family: 'MyriadPro Regular';
    src: url(../fonts/MyriadPro-Regular.otf);
}

.main-login-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height: 100vh;
    background-image: url('../assets/landing/desktop-login-registro.jpg');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.login-content h1 {
    font-family: 'DoritosHeadline Bk';
    font-size: 2.6rem;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #00d2b4;
}

.login-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
    color: #fff;
    padding: 10px;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.email-container {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-bottom: 20px;
}

.email-container label {
    font-family: 'MyriadPro Regular';
    font-size: 1.2rem;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-weight: 800;
    font-style: italic;
    color: #fff;
}

.email-container input {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #434343;
    color: #fff;
    font-family: 'MyriadPro Regular';
    font-size: 1.2rem;
    margin-top: 5px;
}

.password-container {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-bottom: 20px;
}

.password-container label {
    font-family: 'MyriadPro Regular';
    font-size: 1.2rem;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-weight: 800;
    font-style: italic;
    color: #fff;
}

.password-container input {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #434343;
    color: #fff;
    font-family: 'MyriadPro Regular';
    font-size: 1.2rem;
    margin-top: 5px;
}

.forgot-password-container,
.registro-container {
    display: flex;
    justify-content: center;
    width: 70%;
    margin-bottom: 15px;
}

.forgot-password-container a,
.registro-container a {
    font-family: 'MyriadPro Regular';
    font-size: 1.2rem;
    color: #00cb9b;
    text-decoration: none;
}

.forgot-password-container a:hover,
.registro-container a:hover {
    text-decoration: underline;
}

.login-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.login-btn {
    background: none;
    border: none;
    cursor: pointer;
}

.login-btn img {
    margin-top: 10px;
    width: 40%;
}

/* Mobile media query */
@media (max-width: 768px) {
    .main-login-container {
        background-image: url('../assets/landing/home-bg-mobile.jpg');
        background-position: center;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .login-content {
        width: 100%;
    }
}