* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'MaisonNeueBold', sans-serif;
    color: var(--primary-black);
}

@font-face {
    font-family: 'MaisonNeueBold';
    src: url('../fonts/FontsFree-Net-Maison-Neue-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'MaisonNeueExtendedExtraBold';
    src: url('../fonts/MaisonNeueExtended-ExtraBold.otf') format('opentype');
}

:root {
    --primary-pink: #ea008a;
    --primary-blue: #0054a4;
    --primary-black: #191613ff;
    --primary-gold: #c3a52d;
    --secondary-gold: #c5aa2e;
    --thrird-gold: #edda42;
    --fourth-gold: #fcf28c;
}