.main-ranking-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: row;
    height: 100vh;
    background-image: url(../assets/landing/puntaje-bg.jpg);
    color: #fff;
}

.ranking-info {
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.ranking-logo-img {
    width: 75%;
}

.ranking-text-img {
    width: 65%;
}

.ranking-text-prices {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.ranking-price {
    width: 40%;
}

.ranking-display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    align-items: center;
}

.ranking-table-display {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
}

.ranking-table {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.points-cell, .prize-cell {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 250px;
    min-width: 250px;
    height: 100px;
    text-align: center;
    background-color: #fff;
    color: #000;
}

.position-cell img{
    width: 20%;
}

.prize-cell img {
    width: 45%;
}

.position-cell {
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 400px;
    min-width: 400px;
    padding: 0 15px;
    height: 100px;
    text-align: center;
    background-color: #fff;
    color: #000;
}

.position-cell-number {
    font-family: 'DoritosHeadline Bk';
    color: #ea4a13;
    font-size: 2.7rem;
}

.position-cell-name {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    text-align: center;
    font-family: 'MyriadPro Regular';
    text-transform: uppercase;
    font-size: 1.2rem;
}

.points-cell {
    background-color: #00cb9b;
    font-family: 'DoritosHeadline Bk';
    color: #fff;
    font-size: 2.4rem;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 2px 1px 0 #000;
}

/* Mobile media query */

@media (max-width: 768px) {
    .main-ranking-container {
        flex-direction: column;
        min-height: 100vh;
        height: 100%;
        background-size: contain;
    }

    .ranking-info {
        width: 100%;
        margin-bottom: 20px;
    }

    .ranking-display {
        width: 90%;
    }

    .ranking-table-display {
        width: 100%;
    }

    .ranking-table {
        flex-direction: row;
        width: auto;
    }

    .position-cell {
        max-width: 100px;
        min-width: 100px;
        padding: 5px;

    }

    .points-cell, .prize-cell {
        max-width: 100px;
        min-width: 100px;
    }

    .position-cell-number {
        font-size: 1.5rem;
    }

    .position-cell-name {
        width: 20px;
        font-size: 0.8rem;
        margin-right: 10px;
        margin-left: 5px;
    }

    .points-cell {
        font-size: 1.5rem;
    }

    .player-icon {
        display: none;
    }

    .prize-cell img {
        width: 100%;
    }

}


