.main-ranking-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: row;
    height: 100vh;
    background-image: url(../assets/landing/puntaje-bg.jpg);
    background-size: cover;
    color: #fff;
}

.ranking-info {
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.ranking-logo-img {
    width: 75%;
}

.ranking-text-img {
    width: 65%;
}

.ranking-text-prices {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.ranking-prize {
    width: 40%;
}

.ranking-display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    align-items: center;
}

.ranking-table-display {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
}

.ranking-table {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.points-cell, .prize-cell {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 250px;
    min-width: 250px;
    height: 75px;
    text-align: center;
    background-color: #fff;
    color: #000;
}

.position-cell img{
    width: 15%;
}

.prize-cell img {
    width: 33%;
}

.position-cell {
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 400px;
    min-width: 400px;
    padding: 0 15px;
    height: 75px;
    text-align: center;
    background-color: #fff;
    color: #000;
}

.position-cell-number {
    font-family: 'DoritosHeadline Bk';
    color: #ea1d24;
    font-size: 2.7rem;
    width: 20px;
}

.position-cell-name {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    text-align: center;
    font-family: 'MyriadPro Regular';
    text-transform: uppercase;
    font-size: 1rem;
    padding: 2px;
}

.points-cell {
    background-color: #00d2b4;
    font-family: 'DoritosHeadline Bk';
    color: #fff;
    font-size: 2rem;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 2px 1px 0 #000;
}

.user-position {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 93.8%;
    margin-top: 10px;
    color: #fff;
    font-family: 'MyriadPro Regular';
    text-transform: uppercase;
    font-weight: lighter;
    font-style: italic;
    font-size: 1.25rem;
    padding: 5px;
    background-color: #ea1d24;
}

.bold-text-user {
    font-weight: bold;
    font-family: 'DoritosHeadline Bk';
}

/* Mobile media query */

@media (max-width: 768px) {
    .main-ranking-container {
        flex-direction: column;
        justify-content: flex-start;
        background-image: url(../assets/landing/puntaje-bg-mobile.jpg);
        background-size: cover;
        min-height: 100vh;
        height: 100%;
    }

    .ranking-info {
        width: 100%;
        margin-top: 100px;
        margin-bottom: 20px;
    }

    .ranking-display {
        width: 100%;
    }

    .ranking-table-display {
        width: 100%;
    }

    .ranking-table {
        flex-direction: row;
        width: auto;
    }

    .position-cell {
        max-width: 10px;
        min-width: 120px;
        padding: 5px;

    }

    .points-cell, .prize-cell {
        max-width: 120px;
        min-width: 120px;
    }

    .position-cell-number {
        font-size: 2rem;
    }

    .position-cell-name {
        width: 20px;
        font-size: 1rem;
        margin: 20px;
    }

    .points-cell {
        font-size: 1.2rem;
    }

    .player-icon {
        display: none;
    }

    .prize-cell img {
        width: 70%;
    }

    .user-position {
        width: 85%;
        font-size: 1rem;
        margin-bottom: 10px;
    }

}


