* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    font-family: 'DoritosHeadline Md', sans-serif;
}

@font-face {
    font-family: 'DoritosHeadline Bk';
    src: url(../fonts/DoritosHeadline_BlkIt.ttf);
}

@font-face {
    font-family: 'DoritosHeadline Md';
    src: url(../fonts/DoritosHeadline_MdIt.ttf);
}

@font-face {
    font-family: 'MyriadPro Regular';
    src: url(../fonts/MyriadPro-Regular.otf);
}

.volver-logo-container {
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}

.volver-logo-container img {
    width: 30%;
    max-width: 300px;
    margin: 30px;
    transition: all 0.5s ease;
}

.volver-logo-container img:hover {
    cursor: pointer;
    transform: scale(1.1);
}

/* Mobile media query */

@media (max-width: 768px) {
    .volver-logo-container img {
        width: 20%;
    }
}